@media (max-width: 700px) {
    body {
        text-align: center;
        font-size: 90%;
    }

    .sobre p {
        margin-right: 0%;
        text-indent: 20px;

    }

    .skill {
        height: 30px;
        width: 100%;
        border-radius: 10px;
        background-color: var(--txt-color-white);

    }

    .projetos {
        overflow-y: visible;
        display: block;
    }

    .projetos div {
        width: 100%;
        margin: 10px 0;
    }

    footer div {
        padding: 5px;
    }
}